<ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="col-3">Información del asistente</div>
            <div class="col-3">3</div>
            <div class="col-3">_______ __</div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="container">Nombres y Apellidos</div>
        <input type="text" class="caja">
    </li>
    <li class="list-group-item">
        <div class="container">Identificación</div>
        <input type="text" class="caja">
    </li>
    <li class="list-group-item">
        <div class="container">Grupo de riesgo</div>
        <input type="text" class="caja">
    </li>
    <li class="list-group-item">
        <div class="container">Convive con grupo de riesgo 1</div>
        <input type="text" class="caja">
    </li>
    <li class="list-group-item">
        <div class="container">¿Ha tenido sintomas del coronavirus?
            (Disnea, fiebre, tos seca, dolor de garganta, 
            dificultad para identificar olores y sabores )
        </div>
    </li>
    <li class="list-group-item">
        <div class="container">Indique barrio donde vives 
            y describe la ruta que realizarás
        </div>
        <input type="text" class="caja">
        <hr>
    </li>
    <li class="list-group-item"></li>
</ul>
